/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { 
  margin: 0; 
  //font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-family: 'Exo 2', ;
  //color: #2e382e;
  overscroll-behavior: none;
  max-width: 600px;
  //scroll-behavior: smooth;
  

  //background: linear-gradient(90deg, #0b0c10, #1f2833, #1f2833, #0b0c10);
    background-color: #0b0c10;
background-size: 800% 800%;

-webkit-animation: AnimationName 17s ease infinite;
-moz-animation: AnimationName 17s ease infinite;
animation: AnimationName 17s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-color:#0b0c10}
    50%{background-color:#1f2833}
    100%{background-color:#0b0c10}
}
@-moz-keyframes AnimationName {
    0%{background-color:#0b0c10}
    50%{background-color:#1f2833}
    100%{background-color:#0b0c10}
}
@keyframes AnimationName {
    0%{background-color:#0b0c10}
    50%{background-color:#1f2833}
    100%{background-color:#0b0c10}
}
}




.mat-progress-spinner circle, .mat-spinner circle {
stroke: #66FCF1;
}