/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  //font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-family: 'Exo 2', ;
  //color: #2e382e;
  background-color: #0C0032;
}
.mat-progress-spinner circle, .mat-spinner circle {
stroke: #3500D3;
}
