i{
  display:inline-flex;
  vertical-align: middle;
}
.fire{
  color: #DAA89B;
}
p{
  font-family: "Exo 2";
}
h1{
  font-family: "Exo 2";
  text-align: center;
}
mat-dialog-actions{
  text-align: center;
  align-content: center;
  margin-left:50px;
}
