i{
  display:inline-flex;
  vertical-align: middle;
}
.fire{
  color: #FCB97D;
}
p{
  font-family: 'Josefin Sans', sans-serif;
}
h1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
