.images{
  max-width: 160px;
}
.log{
  float:right;
  color: #C5C6C7;
  margin-right: 2.5%;
  z-index: 1;
}
.sidebar{
  float:right;
  color: #C5C6C7;
  margin-right: 2.5%;
}
#trackList,#artistList{
  margin-top: -120px;
}
.logIcon{
  -webkit-animation: fadein 1.5s ease-in forwards;
    animation: fadein 1.5s ease-in  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }
}
.helpIcon{
  -webkit-animation: fadein 1.75s ease-in forwards;
    animation: fadein 1.75s ease-in  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }
}
.codeIcon{
  -webkit-animation: fadein 1.85s ease-in forwards;
    animation: fadein 1.85s ease-in  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }
}
#typeIcon{
  color: #C5C6C7;
  -webkit-animation: fadein 1.85s ease-in forwards;
    animation: fadein 1.85s ease-in  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }
}
#timeIcon{
  color: #C5C6C7;
  -webkit-animation: fadein 1.95s ease-in forwards;
    animation: fadein 1.95s ease-in  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }
}
#shareIcon{
  color: #C5C6C7;
  -webkit-animation: fadein 2.00s ease-in forwards;
    animation: fadein 2.00s ease-in  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }
}
#loading{
  display: none;
  margin-left: 37%;
}
#screenshot{
  text-align: center;
  display: none;
  margin-top:  -155px;

  -webkit-animation: fadein 1.0s ease-in forwards;
    animation: fadein 1.0s ease-in  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .25}
    75% {opacity: .50}
    90% {opacity: .75}
    100% { opacity: 1; }
  }
}
#topImage{
  // max-width: -webkit-fill-available;
  max-width: 282px;
  border-radius: 6px;
  margin: 15px;
}
#topList{
  color: #FCB97D;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-style: oblique;
  line-height: 50%;
}
.header{
  font-family: 'Josefin Sans', sans-serif;
  color: #66FCF1;
  margin-left: 2.5%;
  z-index: -1;
  // -webkit-animation: fadein 1.75s ease-in forwards;
  //   animation: fadein 1.75s ease-in  forwards;

  // @-webkit-keyframes fadein {
  //   0% { opacity: 0; }
  //   50% {opacity: .25}
  //   75% {opacity: .50}
  //   90% {opacity: .75}
  //   100% { opacity: 1; }
  // }

  // @keyframes fadein {
  //   0% { opacity: 0; }
  //   50% {opacity: .25}
  //   75% {opacity: .50}
  //   90% {opacity: .75}
  //   100% { opacity: 1; }
  // }
}
h1{
  font-family: 'Josefin Sans', sans-serif;
  color: #66FCF1;
  font-size: 2.9em;
}
h2{
  color: #FCB97D;
  margin-left: 2.5%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}
h3{
  color: #C5C6C7;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 2.5%;
  font-size: 1.2em;
  margin-top: -10px;
  font-style: italic;
}
#artistList,#trackList{
  display: none;
  margin-right: 10%;
  align-content: center;
  margin-top: -100px;
}
a:link{
  color: #C5C6C7;
  text-decoration: none;
}
a:visited{
  color: #C5C6C7;
  text-decoration: none;
}

.logo{
  max-width: 270px;
  padding-top: 4%;
  padding-bottom: 8%;
}

.scLogo{
  padding-top: 8%;
}

@media screen and (min-width: 600px) {
  #size_label{
    display: block;
    max-width: 600px;
  }
}
@media screen and (max-width: 600px) {
  #size_label{
    display: none;
    max-width: 600px;
  }
}