.images{
  max-width: 160px;
}

.log{
  float:right;
  color: #9197AE;
  margin-right: 2.5%;
}

.sidebar{
  float:right;
  color: #9197AE;
  margin-right: 2.5%;
}

#trackList,#artistList{
  margin-top: -120px;
}

#typeIcon,#timeIcon{
  color: #EFF6EE;
}

.header{
  font-family: 'Exo 2', ;
  color: #228CDB;
  margin-left: 2.5%;
}
h1{
  font-family: 'Exo 2', ;
  color: #228CDB;
  font-size: 2.9em;
}
h2{
  color: #9197AE;
  margin-left: 2.5%;
  font-family: 'Exo 2', ;
  font-size: 2em;
}
h3{
  color: #EFF6EE;
  font-family: 'Exo 2', ;
  margin-left: 5%;
  font-size: 1.2em;
  margin-top: -10px;
}

#artistList{
  display: none;
  margin-right: 10%;
  align-content: center;
  margin-top: -125px;
}
#trackList{
  display: none;
  margin-right: 10%;
  align-content: center;
  margin-top: -125px;
}

a:link{
  color: #9197AE;
  text-decoration: none;
}
a:visited{
  color: #9197AE;
  text-decoration: none;
}

.example-spacer{
  flex: 1 1 auto;
}

mat-toolbar{
  border-radius:5px;
  width: 95%;
  margin-left:2.5%;
  background-color: #EFF6EE;
}
