<h3>Home Component</h3>
<h4>Home</h4><a href="http://www.midyear.me/"><button><i class="material-icons">home</i></button></a>
<br>
<br>
<h4>Redirect</h4><a href="https://accounts.spotify.com/authorize?client_id=f2143b027e744a7eb3dabfee5183de1e&response_type=code&redirect_uri=http://www.midyear.me&scope=user-top-read"><button><i class="material-icons">swap_horiz</i></button></a>
<br>
<br>
<h4>Log Code</h4><button (click)="findHome()"><i class="material-icons">find_replace</i></button>
<br>
<br>
<h4>Node Post Return Params</h4><button (click)="testOwnPost()"><i class="material-icons">motorcycle</i></button>
<br>
<br>
<h4>GET TOKEN</h4><button (click)="testGetToken()"><i class="material-icons">flight_takeoff</i></button>
<br>
<br>
<h4>GET Artists?</h4><button (click)="getArtistTest()"><i class="material-icons">flight_land</i></button>
<br>
<br>
<h4>Home</h4><button (click)="clear()"><i class="material-icons">delete_forever</i></button>


<h2>Change Type</h2>
<button (click)="swapType()">
    <i class="material-icons">music_note</i>
    <i class="material-icons">swap_horiz</i>
    <i class="material-icons">recent_actors</i>
</button>

<h2>Change Term</h2>

<button (click)="setShort()"><i class="material-icons">arrow_right</i></button>
<button (click)="setMedium()"><i class="material-icons">chevron_right</i></button>
<button (click)="setLong()"><i class="material-icons">double_arrow</i></button>

