<!-- <div id="mainTitle" class="header">
    <a href="https://www.midyear.me/" (click)="alertLog()"><h1>MIDYEAR.me</h1></a>
</div> -->
<div id="login" class="log">
    <a class="logIcon" href="https://accounts.spotify.com/authorize?client_id=f2143b027e744a7eb3dabfee5183de1e&response_type=code&redirect_uri=https://www.midyear.me&scope=user-top-read"><i class="material-icons">person</i></a>
    <br><br>
    <i class="material-icons helpIcon" (click)="openHelpDialog()">help</i>
    <br><br>
    <a class= "codeIcon" href="https://github.com/tylrg/spotify_stats_site" target="_blank"><i class="material-icons">code</i></a>
</div>
<div id="logout" class="log">
    <i class="material-icons helpIcon" (click)="openDialog()">help</i>
    <br><br>
    <i id="typeIcon" class="material-icons" (click)="swapType()">record_voice_over</i>
    <br><br>
    <i id="timeIcon" class="material-icons" (click)="toggleTime()">arrow_right</i>
    <br><br>
    <i id="shareIcon" class="material-icons" (click)="updateTopFiveShare()">camera_enhance</i>
</div>

<div id="mainTitle" class="header">
            <h1>MIDYEAR.me</h1>
</div>

<br><br>
<br><br><br>
<div id="loading" style="display: none;">
    <mat-spinner></mat-spinner>
</div>

<div id="artistList">
    <h2>Your Top Artists</h2>
    <h3>{{term_string}}</h3>
    <br>
    <ul *ngFor="let element of artists">
        <app-artist [number]="element.number" [name]="element.name" [followers]="element.followers" [popularity]="element.popularity" [link]="element.link" [image]="element.image.url"></app-artist>
    </ul>
</div>

<div id="trackList">
    <h2>Your Top Tracks</h2>
    <h3>{{term_string}}</h3>
    <br>
    <ul id="tracks" *ngFor="let element of tracks">
        <app-track [number]="element.number" [name]="element.name" [artist]="element.artists" [albumName]="element.albumName" [popularity]="element.popularity" [link]="element.link" [albumImage]="element.albumImage.url"></app-track>
    </ul>
</div>

<br><br>

<div id="screenshot" style="display: none;">
    <div class="header">
        <h1 (click) = "showHome()">MIDYEAR.me</h1>
    </div>
    <img id="topImage" mat-card-image src="{{topImage}}">
    <ul id = "topList" *ngFor="let element of topFive">
        {{element.number}} {{element.name}}
    </ul>
</div>
<br><br>