.images{
  max-width: 160px;
}

.log{
  float:right;
  color: #C5C6C7;
  margin-right: 2.5%;
}

.sidebar{
  float:right;
  color: #C5C6C7;
  margin-right: 2.5%;
}

#trackList,#artistList{
  margin-top: -120px;
}

.logIcon{
  -webkit-animation: fadein 1.5s linear forwards;
    animation: fadein 1.5s linear  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }
}
.helpIcon{
  -webkit-animation: fadein 1.75s linear forwards;
    animation: fadein 1.75s linear  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }
}
.codeIcon{
  -webkit-animation: fadein 1.85s linear forwards;
    animation: fadein 1.85s linear  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }
}

#typeIcon{
  color: #C5C6C7;
  -webkit-animation: fadein 1.85s linear forwards;
    animation: fadein 1.85s linear  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }
}
#timeIcon{
  color: #C5C6C7;
  -webkit-animation: fadein 1.95s linear forwards;
    animation: fadein 1.95s linear  forwards;

  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }

  @keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: .5}
    100% { opacity: 1; }
  }
}


#loading{
  display: none;
  margin-left: 37%;
}

.header{
  font-family: 'Exo 2', ;
  color: #66FCF1;
  margin-left: 2.5%;
}
h1{
  font-family: 'Exo 2', ;
  color: #66FCF1;
  font-size: 2.9em;
}
h2{
  color: #C5C6C7;
  color: #FCB97D;
  margin-left: 2.5%;
  font-family: 'Exo 2', ;
  font-size: 2em;
}
h3{
  color: #C5C6C7;
  font-family: 'Exo 2', ;
  margin-left: 2.5%;
  font-size: 1.2em;
  margin-top: -10px;
}

#artistList,#trackList{
  display: none;
  margin-right: 10%;
  align-content: center;
  margin-top: -125px;
}
a:link{
  color: #C5C6C7;
  text-decoration: none;
}
a:visited{
  color: #C5C6C7;
  text-decoration: none;
}

