.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
  color: #0B0C10;
  font-family: 'Exo 2', ;
}

mat-card-content{
  color: #0B0C10;
  font-family: 'Exo 2', ;
}

mat-card-title{
  color: #0B0C10;
  font-family: 'Exo 2', ;
}

mat-card-subtitle{
  font-family: 'Exo 2', ;
}
img{
  border-radius: 2px;
}
.mat-card-avatar{
    font-size: 25px;
    margin-right: -10px;
    padding-top: 10px;
}
i{
  display:inline-flex;
  vertical-align: middle;
}

.fire{
  color: #FCB97D;
}

a:link{
  color: #0B0C10;
  text-decoration: none;
}
a:visited{
  color: #0B0C10;
  text-decoration: none;
}