.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
  color: #01001C;
  font-family: 'Exo 2', ;
}

mat-card-content{
  color: #01001C;
  font-family: 'Exo 2', ;
}

mat-card-title{
  color: #01001C;
  font-family: 'Exo 2', ;
}
mat-card-subtitle{
  font-family: 'Exo 2', ;
}

img{
  border-radius: 2px;
}
.mat-card-avatar{
    font-size: 25px;
    margin-right: -10px;
    padding-top: 20px;
}

i{
  display:inline-flex;
  vertical-align: middle;
}

.fire{
  color: #ee801e;
}