<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">{{number}}</div>
    <mat-card-title>{{name}} - {{artist}}</mat-card-title>
    <mat-card-subtitle>{{albumName}}</mat-card-subtitle>
  </mat-card-header>
  <a href="{{link}}" target="_blank"><img mat-card-image src="{{albumImage}}" alt="{{name}}"></a>
  <mat-card-content>
    <p>
      <i class="material-icons fire">whatshot</i> {{popularity}}
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-raised-button>Basic</button>
  </mat-card-actions> -->
</mat-card>